click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.9
hiredis==1.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
MarkupSafe==1.1.1
nltk==3.5
numpy==1.19.2
pandas==1.1.2
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
redisbloom==0.4.0
regex==2020.7.14
rmtest==0.7.0
six==1.15.0
tqdm==4.49.0
Werkzeug==2.2.3
