@import url(https://fonts.googleapis.com/css?family=Special+Elite);

body {
  color: #ffffff;
  align-items: center;
  font-family: 'Special Elite', cursive;
  margin: 60px auto;
  width: 800px;
  text-align: center;
  font-size: 36px;
  background-size: cover;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  text-shadow: 0px 0px 10px #000000;
}

h1 {
  font-size: 48px;
  background-color: black;
}

h2 {
  text-align: center;
  font-size: 36px;
  background-color: black;
}

ol {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 75px;
  padding-right: 10px;
  background-color: black;
}

#topWords {
  float: left;
  text-align: left;
}

#topShapes {
  float: right;
  text-align: left;
}
